@model DuAnTotNghiep.Models.NhanVien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTenNv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTenNv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVaoLam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVaoLam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuongCoBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuongCoBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGioLamViec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGioLamViec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTenAdminNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTenAdminNavigation.HoTenAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNameNavigation.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
